body{
    background-color: gray;
}
h1{
    color: aqua;
    font-size: 12pt;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}
.forma{
    text-align: justify;
    font-size: 13;
}
.formazas{
    text-align: center;
    font-size: 11;
    color: aquamarine;
}